# use glob syntax.
syntax: glob

# general file patterns to ignore
.DS_Store
Thumbs.db

# some specific patterns to ignore
src/_CPack_Packages*
#src/CPackConfig.cmake
src/plugins/*/lib/*
src/lib/*
src/scripts/*.tmp
src/cmake/*.tmp
src/*.tar.*
src/sasfit*.zip
src/sundials/windows_*
src/sundials/linux_*
src/sundials/darwin_*
src/fftw/windows_*
src/fftw/linux_*
src/fftw/darwin_*
src/gsl/windows_*
src/gsl/linux_*
src/gsl/darwin_*
src/tcl/windows_*
src/tcl/linux_*
src/tcl/darwin_*
src/bckp_*
src/Doxyfile
sasfit.vfs/lib/app-sasfit/plugins/groups.*
sasfit.vfs/lib/app-sasfit/tcl/sasfit_svn_rev.tcl
sasfit.vfs/lib/Sasfit/sasfit.so
plugins/*.h
plugins/*.so
plugins/*.dll
sasfit.vfs/lib/Sasfit/sasfit.dll
sasfit.exe
build
b
w
m
sasfit
*/.svn
*.pyc
*.pyo
doc/wikibot/pywikipedia/login-data/*.data
data/workdata
*.swp
saskit/install
saskit/build
saskit/out
saskit/bin
saskit/src/itcl-3.3/tclconfig/tclconfig
saskit/src/tcl-8.4.13/lib/Mk4tcl/Mk4tcl.so
saskit/src/tcl-8.4.13/lib/Mk4tcl/pkgIndex.tcl
saskit/saskit_*

/src/plugins/ordered_particle_systems/sasfit_sq_sq_iso_pearson.c
/src/fftw/fftw-3.3.6-pl2.tar.gz
/buildCL
/examples/dll/libsasfit_fuzzysphere.dll
/examples/dll/libsasfit.dll
/src/fftw/fftw-3.3.7.tar.gz
/src/plugins/magcylshell/include
/src/plugins/magcylshell/include/private.h
/src/plugins/sin2
/src/plugins/sin2/include/private.h
/src/plugins/sin2/include/sasfit_sin2.h
/src/fftw/fftw-3.3.8.tar.gz
/sasfit.vfs/lib/app-sasfit/tcl/CET_CLB2.rgb
/doc/images/form_factor/nonparticular/BooleanUnionPhi1.png
/doc/images/form_factor/supershapes/superquadric321_1_2_0_90_0.png
/doc/images/form_factor/supershapes/superquadric321_1_2_0_0_0.png
/doc/images/form_factor/supershapes/superquadric321_1_2_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_01_0_90_0.png
/doc/images/form_factor/supershapes/superquadric321_2_01_0_0_0.png
/doc/images/form_factor/supershapes/superquadric321_2_01_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_5_45_45_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_0_0.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_0_0_b.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_90_0.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_90_0_b.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_0_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_45_45_b.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_90_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_5_5_45_45_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_5_5_0_0_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_5_5_0_90_0_2m.png
/doc/images/form_factor/supershapes/ellipsoid321_0_45_45.png
/doc/images/form_factor/supershapes/ellipsoid321_0_90_0.png
/doc/images/form_factor/supershapes/parallelepiped321_0_0_0.png
/doc/images/form_factor/supershapes/parallelepiped321_0_0_90.png
/doc/images/form_factor/supershapes/parallelepiped321_0_45_45.png
/doc/images/form_factor/supershapes/cylinder321_0_0_0.png
/doc/images/form_factor/supershapes/cylinder321_0_45_45.png
/doc/images/form_factor/supershapes/cylinder321_0_90_0.png
/doc/images/form_factor/supershapes/ellipsoid321_0_0_0.png
