# use glob syntax.
syntax: glob

# general file patterns to ignore
.DS_Store
Thumbs.db
*.pyc
*.pyo
*/.svn
*.swp
/*.dll
*.AppImage
*.dll.a
.ipynb_checkpoints

# some specific patterns to ignore
CMakeFiles
src/_CPack_Packages*
#src/CPackConfig.cmake
src/lib/*
lib
src/scripts/*.tmp
src/cmake/*.tmp
src/*.tar.*
src/sasfit*.zip
src/bckp_*
src/Doxyfile
sasfit.exe
build*
b
w
m
sasfit
doc/wikibot/pywikipedia/login-data/*.data
appimage-builder-cache
appdir

# saskit
saskit/install
saskit/build
saskit/out
saskit/bin
saskit/lib64
saskit/src/itcl-3.3/tclconfig/tclconfig
saskit/src/tcl-8.4.13/lib/Mk4tcl/Mk4tcl.so
saskit/src/tcl-8.4.13/lib/Mk4tcl/pkgIndex.tcl
saskit/saskit_*
saskit/clipboard
saskit/*.dll
saskit/old_saskit

# example
/examples/example_sasfit_ff_fuzzysphere
/examples/example_sasfit_ff_fuzzysphere.exe
/examples/libsasfit_fuzzysphere.dll
/examples/libsasfit.dll

# sasfit internal
/src/sasfit_common/f2c_utils/acpa.c
/src/sasfit_common/f2c_utils/hypergeom_pFq.c
/src/sasfit_common/f2c_utils/pfq.c
/src/sasfit_common/multidiminte/.editorconfig
/src/sasfit_common/multidiminte/.travis.yml
/src/sasfit_common/multidiminte/CMakeLists.txt
/src/sasfit_common/multidiminte/CMake_Modules/FindGSL.cmake
/src/sasfit_common/multidiminte/CMake_Modules/README
/src/sasfit_common/multidiminte/COPYING
/src/sasfit_common/multidiminte/README.md
/src/sasfit_common/multidiminte/doc
/src/sasfit_common/multidiminte/src/.clang_complete
/src/sasfit_common/multidiminte/src/CMakeLists.txt
/src/sasfit_common/multidiminte/src/Lebedev/Lebedev-Laikov.c
/src/sasfit_common/multidiminte/src/Lebedev/sphere_lebedev_rule_prb.c
/src/sasfit_common/multidiminte/src/Lebedev/sphere_lebedev_rule_prb_output.txt
/src/sasfit_common/multidiminte/src/config.h.in
/src/sasfit_common/multidiminte/src/tanhsinh
/src/sasfit_common/multidiminte/src/test.c
/src/sasfit_common/spherical t-design
/src/sasfit_ff/cyl_shell/include/private.h
/src/sasfit_ff/cyl_shell/include/public.h
/src/sasfit_ff/cyl_shell/sasfit_ff_cyl_shell_1.c
/src/sasfit_ff/cyl_shell/sasfit_ff_cyl_shell_2.c
/src/sasfit_ff/cyl_shell/utils.c
/src/sasfit_ff/gauss/include/private.h
/src/sasfit_ff/gauss/include/public.h
/src/sasfit_ff/gauss/sasfit_ff_gauss_1.c
/src/sasfit_ff/gauss/sasfit_ff_gauss_2.c
/src/sasfit_ff/gauss/sasfit_ff_gauss_3.c
/src/sasfit_ff/gauss/sasfit_ff_gauss_generalized_1.c
/src/sasfit_ff/gauss/sasfit_ff_gauss_generalized_2.c
/src/sasfit_ff/gauss/sasfit_ff_gauss_generalized_3.c
/src/sasfit_ff/gauss/sasfit_ff_gauss_poly.c
/src/sasfit_ff/sasfit_ff_BenoitStar.c
/src/sasfit_ff/sasfit_ff_CylShell_old.c
/src/sasfit_ff/sasfit_ff_Cylinder.c
/src/sasfit_ff/sasfit_ff_DLCAggregation.c
/src/sasfit_ff/sasfit_ff_DaisyLikeRing.c
/src/sasfit_ff/sasfit_ff_Disc.c
/src/sasfit_ff/sasfit_ff_DoubleShellChain.c
/src/sasfit_ff/sasfit_ff_FisherBurford.c
/src/sasfit_ff/sasfit_ff_FlexibleRingPolymer.c
/src/sasfit_ff/sasfit_ff_MassFractExp.c
/src/sasfit_ff/sasfit_ff_MassFractExp_mpow_x_a.c
/src/sasfit_ff/sasfit_ff_MassFractGauss.c
/src/sasfit_ff/sasfit_ff_MassFractOverlappingSpheres.c
/src/sasfit_ff/sasfit_ff_Mie.c
/src/sasfit_ff/sasfit_ff_Mie.c_old
/src/sasfit_ff/sasfit_ff_MieShell.c
/src/sasfit_ff/sasfit_ff_MieShell.c_old
/src/sasfit_ff/sasfit_ff_PolydisperseStar.c
/src/sasfit_ff/sasfit_ff_RLCAggregation.c
/src/sasfit_ff/sasfit_ff_Rod.c
/src/sasfit_ff/sasfit_ff_Torus.c
/src/sasfit_ff/sasfit_ff_dumbbell_shell.c
/src/sasfit_ff/sasfit_ff_ellCylinder.c
/src/sasfit_ff/sasfit_ff_flat_cyl.c
/src/sasfit_ff/sasfit_ff_long_cyl.c
/src/sasfit_ff/sasfit_ff_mMemberedTwistedRing.c
/src/sasfit_ff/sasfit_ff_porod_cyl.c
/src/sasfit_frida/Arrays.h
/src/sasfit_frida/SVD-master.zip
/src/sasfit_frida/defs_and_types.h
/src/sasfit_frida/mesch12b.zip
/src/sasfit_frida/s_nnls.c
/src/sasfit_frida/s_nnls_solver.c
/src/sasfit_frida/svd.c
/src/sasfit_frida/svd.cpp
/src/sasfit_frida/svd.h
/src/sasfit_frida/svd_.c
/src/sasfit_frida/svd_demo.c
/src/sasfit_frida/svdcmp.c
/src/sasfit_frida/svdfit.c
/src/sasfit_frida/url.htm
/src/sasfit_peaks*
/src/sasfit_sq/sasfit_sq_MCT.c
/src/sasfit_sq/sasfit_sq_MassFractExp_mpow_x_a.c
/src/sasfit_sq/sasfit_sq_MassFractExp_mpow_x_a.c_unused
/src/sasfit_sq/sasfit_sq_MassFractOverlapSph.c
/src/sasfit_sq/sasfit_sq_MassFractOverlapSph.c_unused
/src/sasfit_sq/sasfit_sq_MassFractal.c
/src/sasfit_sq/sasfit_sq_MassFractal.c_unused
/src/sasfit_sq/sasfit_sq_MassFractalGaussianCutOff.c
/src/sasfit_sq/sasfit_sq_MassFractalGaussianCutOff.c_unused
/src/sasfit_sq/sasfit_sq_PT.c
/src/sasfit_sq/sasfit_sq_TD.c

# sasfit.vfs
sasfit.vfs/lib/app-sasfit/plugins/groups.*
sasfit.vfs/lib/app-sasfit/tcl/sasfit_svn_rev.tcl
sasfit.vfs/lib/Sasfit/sasfit.so
sasfit.vfs/lib/app-sasfit/tcl/CET_CLB2.rgb
sasfit.vfs/lib/Sasfit/sasfit.dll
sasfit.vfs/lib/app-sasfit/tcl/CET*
sasfit.vfs/lib/app-sasfit/tcl/CSV*
sasfit.vfs/lib/app-sasfit/tcl/NCAR_CT*
sasfit.vfs/lib/app-sasfit/tcl/cubehelix*
sasfit.vfs/lib/app-sasfit/tcl/gpf*
sasfit.vfs/lib/app-sasfit/tcl/hdc/Makefile.857
sasfit.vfs/lib/app-sasfit/tcl/hdc/hdc.c
sasfit.vfs/lib/app-sasfit/tcl/hdc/hdc.h
sasfit.vfs/lib/app-sasfit/tcl/hdc/hdc.txt
sasfit.vfs/lib/app-sasfit/tcl/hdc/install.txt
sasfit.vfs/lib/app-sasfit/tcl/ncl*
sasfit.vfs/lib/app-sasfit/tcl/ocean*
sasfit.vfs/lib/app-sasfit/tcl/printer/makefile.857
sasfit.vfs/lib/app-sasfit/tcl/rgb*
sasfit.vfs/lib/app-sasfit/tcl/wmf/Makefile.857

# plugins
plugins/*.h
plugins/*.so
plugins/*.dll
plugins/*.dylib
src/plugins/*/lib/*
src/plugins/*/CMakeFiles/*
src/plugins/*/Makefile
src/plugins/*/cmake_install.cmake
/src/plugins/ordered_particle_systems/sasfit_sq_sq_iso_pearson.c
/src/plugins/magcylshell/include
/src/plugins/magcylshell/include/private.h
/src/plugins/sin2
/src/plugins/sin2/include/private.h
/src/plugins/sin2/include/sasfit_sin2.h
/src/plugins/HP_MSApptx.pptx
/src/plugins/SantosSW_Sq.nb
/src/plugins/anisotropic_objects.zip
/src/plugins/boucher_cyl_moved_to pcs_fuzzy_cyl.zip
/src/plugins/cubehelix
/src/plugins/cylinders/sasfit_ff_partly_aligned_cylshell.c
/src/plugins/dab_epsilon/dab_1D_2D_3D.nb
/src/plugins/fractal_obj/2020Fractals.nb
/src/plugins/fractal_obj/StarExVolTheory.nb
/src/plugins/fractal_obj/StarRgSemiFlexible.nb
/src/plugins/fractal_obj/Untitled-1.nb
/src/plugins/fractal_obj/Worms.nb
/src/plugins/fractal_obj/cmake_install.cmake
/src/plugins/fractal_obj/fractals.nb
/src/plugins/fuzzysphere/FuzzySpheres.nb
/src/plugins/generalized_formfactor/Spheroid_SZ_analytically.nb
/src/plugins/hard_spheres/SQGH.nb
/src/plugins/hard_spheres/SsHS.nb
/src/plugins/lut
/src/plugins/macro_ion
/src/plugins/magcylshell*
/src/plugins/magnetic_correlation
/src/plugins/more_worms.zip
/src/plugins/multi_lamellar/ML.nb
/src/plugins/nvs
/src/plugins/oriented_primitive_objects/Octahedron.pdf
/src/plugins/oriented_primitive_objects/Pictures.lnk
/src/plugins/oriented_primitive_objects/Pyramid4.nb
/src/plugins/oriented_primitive_objects/Tetrahedron.pdf
/src/plugins/oriented_primitive_objects/Tetrahedron1.pdf
/src/plugins/oriented_primitive_objects/Tetrahedron2.pdf
/src/plugins/oriented_primitive_objects/cone.pdf
/src/plugins/oriented_primitive_objects/cone6.pdf
/src/plugins/oriented_primitive_objects/deformedSE.nb
/src/plugins/oriented_primitive_objects/polyhedra.nb
/src/plugins/oriented_primitive_objects/prism4.txt
/src/plugins/oriented_primitive_objects/pyramid4.pdf
/src/plugins/oriented_primitive_objects/test.txt
/src/plugins/oriented_primitive_objects/tetrahedron.txt
/src/plugins/oriented_primitive_objects/vi.txt
/src/plugins/peak/LogitNormal.nb
/src/plugins/pearl_necklace/PearlNecklageHuber.docx
/src/plugins/pfq.zip
/src/plugins/pickering/SQ_surface_pickering/1-s2.0-S0021979709014787-main-1.pdf
/src/plugins/pickering/SQ_surface_pickering/146.101253-1.pdf
/src/plugins/pickering/SQ_surface_pickering/JPCB2010-03.pdf
/src/plugins/pickering/SQ_surface_pickering/MDM.f90
/src/plugins/polymer_rings/sasfit_ff_flexibleringpolymer.c
/src/plugins/pra/CMakeLists.txt
/src/plugins/pra/include/private.h
/src/plugins/pra/include/sasfit_pra.h
/src/plugins/pra/interface.c
/src/plugins/pra/sasfit_sq_p_ra.c
/src/plugins/scaling/CMakeLists.txt
/src/plugins/scaling/include/private.h
/src/plugins/scaling/include/sasfit_scaling.h
/src/plugins/scaling/interface.c
/src/plugins/scaling/sasfit_sq_scaling.c
/src/plugins/sesans/gDAB.nb
/src/plugins/sesans/gDAB.pdf
/src/plugins/sesans/gDAB.tex
/src/plugins/sesans/gDAB_gr1.eps
/src/plugins/sesans/gDAB_gr2.eps
/src/plugins/shearflow/Rg_s.nb
/src/plugins/shearflow/shearflowRing.nb
/src/plugins/sin2.zip
/src/plugins/solid_angle/CMakeLists.txt
/src/plugins/solid_angle/include/private.h
/src/plugins/solid_angle/include/sasfit_solid_angle.h
/src/plugins/solid_angle/interface.c
/src/plugins/solid_angle/sasfit_sq_flat_panel_correction.c
/src/plugins/solid_angle/sasfit_sq_solid_angle_correction.c
/src/plugins/two_dim_fluid/sasfit_sq__d_hard_disks__rosenfeld_.c
/src/plugins/twoyukawa/7. structurefactor (sf) — Jscatter 1.2.7.2 documentation.URL
/src/plugins/twoyukawa/StructureFactor.c
/src/plugins/twoyukawa/StructureFactor.h
/src/plugins/twoyukawa/include/private.h.save-failed
/src/plugins/twoyukawa/libStructureFactor.c
/src/plugins/twoyukawa/libStructureFactor.h

# external libs
src/sundials/windows*
src/sundials/linux*
src/sundials/macos*
src/sundials/cygwin_x86_64*
src/sundials/msys_x86_64*
src/sundials/sundials-3.1.0*
src/sundials/sundials-3.2.1.tar.gz_not_used yet
src/fftw/windows*
src/fftw/linux*
src/fftw/macos*
src/fftw/fftw-3.3.6-pl2.tar.gz
src/fftw/fftw-3.3.7.tar.gz
src/fftw/fftw-3.3.8.tar.gz
src/gsl/windows*
src/gsl/linux*
src/gsl/macos*
src/tcl/windows*
src/tcl/linux*
src/tcl/macos*
/src/external_libs/isvd-0.1.tar
/src/external_libs/isvd-master.zip
/src/external_libs/libcerf-1.5*
/src/external_libs/nnls_solver-master.zip
/src/isvd-master
/src/some tools/5f40func
/src/some tools/5f40p1f
/src/some tools/acpa.c
/src/some tools/acpa.o
/src/some tools/data.txt
/src/some tools/drivePFQ.c
/src/some tools/drivePFQ.exe
/src/some tools/drivePFQ.f
/src/some tools/drivePFQ.o
/src/some tools/f2c.exe
/src/some tools/f90toC
/src/some tools/final-HypF2spec
/src/some tools/hypergeom_pFq.c
/src/some tools/hypergeom_pFq.o
/src/some tools/pfq.c
/src/some tools/pfq.new.c
/src/some tools/pfq.new.o
/src/some tools/pfq.o

# manual
/doc/images/form_factor/nonparticular/BooleanUnionPhi1.png
/doc/images/form_factor/supershapes/superquadric321_1_2_0_90_0.png
/doc/images/form_factor/supershapes/superquadric321_1_2_0_0_0.png
/doc/images/form_factor/supershapes/superquadric321_1_2_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_01_0_90_0.png
/doc/images/form_factor/supershapes/superquadric321_2_01_0_0_0.png
/doc/images/form_factor/supershapes/superquadric321_2_01_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_5_45_45_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_0_0.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_0_0_b.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_90_0.png
/doc/images/form_factor/supershapes/superquadric321_2_2_0_90_0_b.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_0_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_45_45.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_45_45_b.png
/doc/images/form_factor/supershapes/superquadric321_2_5_0_90_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_5_5_45_45_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_5_5_0_0_0_2m.png
/doc/images/form_factor/supershapes/superquadric321_5_5_0_90_0_2m.png
/doc/images/form_factor/supershapes/ellipsoid321_0_45_45.png
/doc/images/form_factor/supershapes/ellipsoid321_0_90_0.png
/doc/images/form_factor/supershapes/parallelepiped321_0_0_0.png
/doc/images/form_factor/supershapes/parallelepiped321_0_0_90.png
/doc/images/form_factor/supershapes/parallelepiped321_0_45_45.png
/doc/images/form_factor/supershapes/cylinder321_0_0_0.png
/doc/images/form_factor/supershapes/cylinder321_0_45_45.png
/doc/images/form_factor/supershapes/cylinder321_0_90_0.png
/doc/images/form_factor/supershapes/ellipsoid321_0_0_0.png
/doc/images/SASfitManualIcon.pdf
/doc/images/form_factor/cylindrical_obj/Backup_of_partly aligned discs.cdr
/doc/images/form_factor/cylindrical_obj/Backup_of_partly_aligned_cylinders.cdr
/doc/images/form_factor/cylindrical_obj/CylShell.dsf
/doc/images/form_factor/cylindrical_obj/SaaPickering.opju
/doc/images/form_factor/cylindrical_obj/pHeavysideGr.png
/doc/images/form_factor/cylindrical_obj/partly aligned2.skb
/doc/images/form_factor/polymer_rings/DaisyRingIQ.eps
/doc/images/form_factor/polymer_rings/mMemberedTwistedRing.eps
/doc/images/form_factor/polymer_rings/ringIQ.eps
/doc/images/form_factor/supershapes/twisted_helix_super_shapes.png
/doc/images/sizedistributions/metalog/metalog.opju
/doc/images/structure_factor/HardSphere/HS_RPA.opju
/doc/images/structure_factor/spherical_coord1.png
/doc/images/structure_factor/spherical_coord2.png
/doc/manual/Backup_of_body_shapes.cdr
/doc/manual/Backup_of_body_shapes_1.cdr
/doc/manual/ColorBlindness.xlsx
/doc/manual/DaisyRingIQ.png
/doc/manual/New Text Document.txt
/doc/manual/Regularization methods in SASfit.docx
/doc/manual/SASfit_ch2_EllipsoidalObj.tex
/doc/manual/SASfit_ch2_MieSLS.tex
/doc/manual/SASfit_ch2_ShearedObj.tex
/doc/manual/SASfit_ch2_cluster.tex
/doc/manual/SASfit_plugins.log
/doc/manual/colormap.opju
/doc/manual/colormap2.opju
/doc/manual/ellipsoidalShell.png
/doc/manual/mMemberedTwistedRing.png
/doc/manual/ringIQ.png
/doc/manual/sasfit - ch - regularization.pdf
/doc/manual/sasfit - test.pdf
/doc/manual/sasfit - test.synctex
/doc/manual/sasfit - test.tex
/doc/manual/sasfit.aux
/doc/manual/sasfit.bbl
/doc/manual/sasfit.bib.bak
/doc/manual/sasfit.bib.sav
/doc/manual/sasfit.blg
/doc/manual/sasfit.log
/doc/manual/sasfit.out
/doc/manual/sasfit.synctex
/doc/manual/sasfit.toc
/doc/manual/sasfitFredholm.pdf
/doc/manual/sasfitFredholm_t.pdf
/doc/manual/sasfitSQ.pdf
/doc/manual/~$lorMaps.docx

# other
/18m.sma
/D0040954.018
/EM.opju
/EM_L-curve.opju
/EM_random.opju
/EM_smooth.opju
/EM_smooth03.opju
/EMconvergenceSpeed.opju
/EMn.opju
/EMregularization.opju
/EMsmooth_Lcorner.opju
/FaddeevaM-0.0.1
/LLS.opju
/sync.ffs_db
/src/BCC-Paracrystalline.nb

# data
data/workdata
/data/1DHS_paracrystalline.sas
/data/1D_HS_PY.sas
/data/1F2.sas
/data/2D.sas
/data/2Y.sas
/data/Barbara.sas
/data/Boolean.sas
/data/Boucher2Profile.sas
/data/CGRW.sas
/data/CGRW_twocut.sas
/data/CGRW_twocut_intersection.sas
/data/CGRWgy.sas
/data/CT/blue.dat
/data/CT/green.dat
/data/CT/red.dat
/data/Chain data Luo Zhi/XX35EtOH_085_sub.dat
/data/Chain data Luo Zhi/first.test.sas
/data/DLCA_RLCA.sas
/data/EM.sas
/data/EM_Johan.sas
/data/EMguess.sas
/data/EMspheroid.sas
/data/FF.sas
/data/Fibo.sas
/data/GzAllFourSoFar.sas
/data/KoyamaWorm.sas
/data/Liebi/Af.dat
/data/Liebi/Af.sas
/data/LogitNormal.sas
/data/MSAS.sas
/data/MSASspheres.sas
/data/MultiLammelar.sas
/data/MultiLammelar2.sas
/data/Octahedra.sas
/data/PCrandomflight.sas
/data/PeteJemian_sizes_test_data/harwell-bimodal.sas
/data/PeteJemian_sizes_test_data/harwell.cmd.htm
/data/PeteJemian_sizes_test_data/harwell.f-D
/data/PeteJemian_sizes_test_data/harwell.fit
/data/PeteJemian_sizes_test_data/reverse.cmd(1).htm
/data/PeteJemian_sizes_test_data/reverse.cmd.htm
/data/PeteJemian_sizes_test_data/reverse.dis
/data/PeteJemian_sizes_test_data/reverse.f-D
/data/PeteJemian_sizes_test_data/reverse.fit
/data/PeteJemian_sizes_test_data/reverse.sas
/data/PeteJemian_sizes_test_data/test-fm.cmd.htm
/data/PeteJemian_sizes_test_data/test-fm.f-D
/data/PeteJemian_sizes_test_data/test-fm.fit
/data/PeteJemian_sizes_test_data/test-fr.cmd.htm
/data/PeteJemian_sizes_test_data/test-fr.f-D
/data/PeteJemian_sizes_test_data/test-fr.fit
/data/PeteJemian_sizes_test_data/test.dis
/data/PeteJemian_sizes_test_data/test.sas
/data/Pprime.sas
/data/RMSA1.sas
/data/SAXS.sas
/data/SQ_worms.sas
/data/Santos.sas
/data/SphAvg.sas
/data/Sqq_mc.sas
/data/Stars.sas
/data/Worm.sas
/data/Worms.sas
/data/aff_dev_rav_DAB.sas
/data/azimuthal.sas
/data/booleanUnionPhi1Eq0.8Sigma_variable.sas
/data/booleanUnionSigmaEq0.sas
/data/busy.sas
/data/carved_triax_ell.sas
/data/clusters.sas
/data/cone.sas
/data/cone6.sas
/data/cylindricalObj.sas
/data/deformed generalized Gaussian coil.sas
/data/ell_SZ.sas
/data/ellcylsh1.sas
/data/ellipsoidOPOrandom.sas
/data/fuzzyCylPcs.sas
/data/fuzzyCylProfile.sas
/data/gen_exp_sphere.sas
/data/gen_exp_sphereIQ.sas
/data/gen_gauss_sphereIQ.sas
/data/gr.sas
/data/hairy_spheres.sas
/data/hard-disc 2D.sas
/data/hard-spheres.sas
/data/lesser_gFF.sas
/data/local_planar.sas
/data/local_planar_bilayer.sas
/data/mass_fract_incl_correlation.sas
/data/metalog.sas
/data/metalog10.sas
/data/metalog10blbu.sas
/data/metalog2.sas
/data/metalog2blbu.sas
/data/metalog3.sas
/data/metalog3blbu.sas
/data/metalog4.sas
/data/metalog4blbu.sas
/data/metalog5.sas
/data/metalog5blbu.sas
/data/metalog6.sas
/data/metalog6blbu.sas
/data/metalog7.sas
/data/metalog7blbu.sas
/data/metalog8.sas
/data/metalog8blbu.sas
/data/metalog9.sas
/data/metalog9blbu.sas
/data/nvs.dat
/data/old_ellipsoidal_obj.sas
/data/pBoltzmann4partly_aligned_cyl.sas
/data/pGauss4partly_aligned_cyl.sas
/data/pLegendre4partly_aligned_cyl.sas
/data/pMaierSaupe4partly_aligned_cyl.sas
/data/pOnsager4partly_aligned_cyl.sas
/data/pS-0.2_partly_aligned_cyl.sas
/data/pS-0.4_partly_aligned_cyl.sas
/data/pS0.2_partly_aligned_cyl.sas
/data/pS0.4_partly_aligned_cyl.sas
/data/pS0.8_partly_aligned_cyl.sas
/data/pXXX4partly_aligned_cyl.sas
/data/paracrystal_1D.sas
/data/parallel.sas
/data/partly_aligned_cyl.sas
/data/piecewiseConstant.sas
/data/polyhedra_random.sas
/data/polymers.sas
/data/prism4_random.sas
/data/prof_gen_exp_sphere.sas
/data/rationalsupershape.sas
/data/s_egg.sas
/data/s_quadrics.sas
/data/semiflexiblePolymerChains.sas
/data/semiflexibleStars.sas
/data/shearflow1Polymer.sas
/data/shearflow1Ring.sas
/data/shearflow2Polymer.sas
/data/shearflow2PolymerWi_against_slope_model.sas
/data/shearflow2Ring.sas
/data/shearflowLinearPolymer.sas
/data/shearflowLinearPolymerSmeared.sas
/data/shearflowPolymer.sas
/data/shearflowRing.sas
/data/stacked_discs.sas
/data/superTOROID_HELIX.sas
/data/superellipsoid.sas
/data/supershape.sas
/data/test_bi-metalog4.sas
/data/test_metalog10.sas
/data/test_metalog2.sas
/data/test_metalog3.sas
/data/test_metalog4.sas
/data/test_metalog5.sas
/data/test_metalog6.sas
/data/test_metalog7.sas
/data/test_metalog8.sas
/data/test_metalog9.sas
/data/tetrahedron.sas
/data/thin_disc.sas
/data/trapez_peak.sas
/data/trapez_peak_ampl.sas
/data/tube_deformation.sas
/data/twoInfLayer.sas
/data/vesicle_PEG.sas
/data/work.sas

